.home-section {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
}

.reveal {
    opacity: 0;
}

.reveal.active {
    opacity: 1;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

.active.dash {
    animation: dash 5s ease-in-out 1 forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.home-img, .home-content {
    max-width: 60em;
    margin: auto;
}

.home-img{
    padding: 1em;
}

/* .design-top{
    position: absolute;
    display: flex;
    place-content: center;
    top: 5em;
    left: 10em;
    gap: 1em;
} */

.home-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.home-resume p{
    margin-bottom: 0.5em;
}

.home-title{
    font-size: clamp(4rem, 2vw, 6rem);
}

.home-subtitle{
    font-size: 1.5rem;
    margin-top: 1.5em;
}

#blob {
    background-color: white;
    height: 20vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 40%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right,
        var(--secondary-color),
        var(--tertiary-text-color));
    animation: rotate 14s infinite;
    opacity: 0.8;
    z-index: -2;
  }
  
  #blur {
    height: 90%;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(8vmax);
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
  
    50% {
      scale: 1 1.5;
    }
  
    to {
      rotate: 360deg;
    }
  }

