/* .home-section {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
}

.reveal {
    opacity: 0;
}

.reveal.active {
    opacity: 1;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

.active.dash {
    animation: dash 5s ease-in-out 1 forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.home-img, .home-content {
    max-width: 60em;
    margin: auto;
}

.home-img{
    padding: 1em;
}

/* .design-top{
    position: absolute;
    display: flex;
    place-content: center;
    top: 5em;
    left: 10em;
    gap: 1em;
} */


/*
.home-resume p{
    margin-bottom: 0.5em;
}

.home-title{
    font-size: clamp(3.1rem, 2vw, 6rem);
}

.home-subtitle{
    font-size: 1.5rem;
} */

/* #blob {
    background-color: white;
    height: 20vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 40%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right,
        var(--secondary-color),
        var(--tertiary-text-color));
    animation: rotate 14s infinite;
    opacity: 0.8;
    z-index: -2;
  }
  
  #blur {
    height: 90%;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(8vmax);
  } */
/* 
  @keyframes rotate {
    from {
      rotate: 0deg;
    }
  
    50% {
      scale: 1 1.5;
    }
  
    to {
      rotate: 360deg;
    }
  } */

.home-section{
    height: 100dvh;
}

.home-section{
    background-color: var(--background-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content h1{
    background: url("../assets/giphy.gif");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: clamp(2.8rem, 4vw, 10rem);
    font-weight: 800;
    margin-bottom: 1em;
    width: 80%;
    padding-left: 2em;
}

.wrapper2{
    margin-left: 1em;
}

/* .circle {
    transition: all 2s ease;
    width: 100px;
    height: 100px;
} */

/* .about-section{
    background-color: var(--primary-color);
} */

.about-section .about-content{
    text-align: center;
    margin-bottom: 1.2em;
}

.about-section .about-content h2{
    margin-top: 2em;
}

@media (max-width: 1200px) {

    .home-content h1{
        width: 100%;
        padding: 0.2em;
        margin-bottom: 0.4em;
    }
}
