.project-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-section .project-title{
    color: var(--tertiary-text-color);
    text-align: center;
    font-style: italic;
}

.project-content{    
    text-align: center;
}

.project-content h2{
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

.parent-grid{
    padding: 1em;
}

.auto-grid{
    --min-row-size: 10rem;
    --min-column-size: 18rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax( min(var(--min-row-size), 100%), 1fr));
    grid-template-columns: repeat(auto-fill, var(--min-column-size));
    gap: 2em;
    place-content: center;
}

.card, .card-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card{
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.5em;
    gap: 1em;
}

.card img{
    border-radius: var(--border-radius);
    height: 14rem;
    object-fit: cover;
}

.card-item{
    gap: 0.6em;
}

.card-item a{
    margin-right: 1em;
}

.secondary-color{
    color: var(--secondary-text-color);
}